/HadoopCounter/nbproject/private/
/WordCount/nbproject/private/
/HadoopCounter/build/
/HadoopCounter/dist/
/WordCount/build/
/WordCount/dist/
/ProjectionMapper/nbproject/private/
/ProjectionMapper/build/
/ProjectionMapper/dist/